/* 
	Color fons 1. #fefefe; Gairebé blanc 
	Color fons 2. #A11260; Verd clar.
	Color fons menú. #E4FF36 (groc clar) 
	Color text. #0B6623 (verd fort)
	Color destacat 1. red
	Color portada destacat. #A11260 (lila)
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
    .bungee {
        font-family: 'Bungee Inline', serif;
}

.menuproductes {
    background-color: #E4FF36;  
    color: #A11260;
}

.descproductes {
    background-color: #89FC00;
    color: #0B6623;
    padding: 0.8em;
}

.llistaproductes {
    background-color: #fefefe;
    color: #0B6623;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

h2 a {
    color: red;
    padding: 0.8 rem;
}

.btn-outline-success {
    color: red;
}

.peupagproductes {
    background-color: #E4FF36;  
    color: #A11260;
}

/* 
Cookies Modal 
https://codepen.io/cristinaconacel/pen/VVdgjp
*/
#cookieModal.container {
  padding: 2rem 0rem;
}

#cookieModal.modal-dialog {
  margin-top: 0rem;
  max-width: 100%;
}

#cookieModal.modal-content {
    border-radius: 0rem;
}
  
#cookieModal.buttons {
    .btn {
      margin: 0.2rem;
    }
  }
}

/* 
RGPD Modal 
https://codepen.io/cristinaconacel/pen/VVdgjp
*/
#loginModal.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      padding: 1rem;
    }
  }
}

#loginModal.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

#loginModal.form-title {
  margin: -2rem 0rem 2rem;
}

#loginModal.btn-round {
  border-radius: 3rem;
}

#loginModal.delimiter {
  padding: 1rem;  
}

#loginModal.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

#loginModal.signup-section {
  padding: 0.3rem 0rem;
}
